#message{
    background-image: url('../images/IITR Campus Updated.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#backImage{
    background-image: url('../images/banner.png');
    background-repeat: no-repeat; 
    background-size: cover; 
    background-position: center;

}