@tailwind base;
@tailwind components;
@tailwind utilities;


#root::-webkit-scrollbar {
    display: none;
  }
  

#root {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }